%h1 Listing categories

- @categories.each do |category|
  |
  = link_to category.name, catlist_path(:id => category.id), :class => "category", "data-id" => category.id

.i_modal_window{:style => "display: none;"}
  %div
    %p
    = image_tag "#", :id => "rand_pict"

.clear